# Clock
LOCATE COMP "clk" SITE "P3";
IOBUFFER PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# LED
LOCATE COMP "led" SITE "L2";
IOBUFFER PORT "led" IO_TYPE=LVCMOS33;

# Keypad Rows (entradas)
LOCATE COMP "row[0]" SITE "J4";
IOBUFFER PORT "row[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "row[1]" SITE "J5";
IOBUFFER PORT "row[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "row[2]" SITE "A2";
IOBUFFER PORT "row[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "row[3]" SITE "K4";
IOBUFFER PORT "row[3]" IO_TYPE=LVCMOS33;

# Keypad Columns (saídas)
LOCATE COMP "col[0]" SITE "B3";
IOBUFFER PORT "col[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "col[1]" SITE "E19";
IOBUFFER PORT "col[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "col[2]" SITE "K3";
IOBUFFER PORT "col[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "col[3]" SITE "K5";
IOBUFFER PORT "col[3]" IO_TYPE=LVCMOS33;